@font-face {
    font-family: 'Lato';
    src: url('./fonts/Lato/Lato-Regular.ttf')format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Pacifico';
  src: url('./fonts/Pacifico/Pacifico-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root{
    --color-cream-pastel: #FFF5E1; /* Fondo Principal */
    --color-soft-pink: #FFC0CB; /* Botones y elementos */
    --color-chocolate: #8B4513; /* Botones y elementos */
    --color-blanco-roto: #F8F6F4; /* Fondo de tarjetas y elementos secundarios */
    --color-rosa-pastel: #FDEEEB; /* Fondo de tarjetas y elementos secundarios */

    --color-text-primary: #5D4037;    /* Marrón Oscuro */
    --color-text-secondary: #B0BEC5;  /* Gris Claro */

    /* Fuentes */
    --font-primary-lato: 'Lato', sans-serif; /* Texto general */
    --font-header-pacifico: 'Pacifico', cursive; /* Titulos y encabezados */
}

::selection {
  background: var(--color-chocolate); /* color de fondo al seleccionar */
  color: var(--color-soft-pink);      /* color del texto seleccionado */
}

::-moz-selection { /* Para Firefox */
  background: var(--color-chocolate);
  color: var(--color-soft-pink);
}

body{
    background-color: var(--color-cream-pastel);
    font-family: var(--font-header-pacifico), cursive;
}

body h1 {
    font-family: var(--font-header-pacifico);
    color: var(--color-text-primary);
    margin: 30px;
}

nav.navbar{
    font-family: var(--font-primary-lato);
}

.btnBrown {
    background-color: var(--color-soft-pink);
    color: var(--color-text-primary);
    border: 1px solid var(--color-chocolate);
    transition: 
        background-color 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease,
        box-shadow 0.3s ease,
        transform 0.2s ease;
}

.btnBrown:hover{
    background-color: var(--color-chocolate);
    color: var(--color-soft-pink);
    border-color: var(--color-soft-pink);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* sombra sutil */
}

/* CLASES DE LA PAGINA PRODUCTOS */
.productos__testimonio{
    font-family: var(--font-primary-lato);
    color: var(--color-text-primary);
}

.producto__precio{
    color: var(--color-chocolate);
}

.producto__descripcion{
    color: var(--color-text-primary);
    font-family: var(--font-primary-lato);
}

.card {
  transition: 
    transform 0.3s ease, 
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px); /* se levanta */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15); /* sombra más fuerte */
}

.swal-title-custom {
    font-family: var(--font-primary-lato); 
    font-size: 60px;
}

.swal-text-custom {
    font-family: var(--font-primary-lato); 
}

.card-blog{
    color: var(--color-soft-pink); 
    font-family: var(--font-header-pacifico);
    margin: 5px;
}

.footer{
    position: relative;
    width: 100%;
    background: var(--color-blanco-roto);
    color: var(--color-chocolate);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #5D4037;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-element{
    list-style: none;
}

.icon{
    color: var(--color-chocolate);
    font-size: 32px;
    display: inline-block;
    margin: 15px;
    transition: 0.5s;
    
}

.icon:hover{
    transform: translateY(-15px);
}

.texto-comunidad {
    font-size: 35px;
    font-family: var(--font-header-pacifico);
    color: var(--color-chocolate);
    margin-bottom: 1.5rem;
}

.texto-bajo-comunidad{
    font-family: var(--font-primary-lato); 
}

.card-text{
    font-family: var(--font-primary-lato); 
    color: var(--color-text-primary);
}

.card-title{
    font-family: var(--font-header-pacifico);
    color: var(--color-chocolate);
}

#carouselExampleSlidesOnly {
    --carousel-control-transition: all .2s ease-in-out;
}

#carouselExampleSlidesOnly h5, p {
    color: var(--color-blanco-roto);
    font-family: var(--font-primary-lato);
}
